<p>about-page works!</p>

<div>{{ myLastFullName }}</div>

<div>
  <h3>Array from Parent Component:</h3>
  <ul>
    <li *ngFor="let item of parentArrays">{{ item }}</li>
  </ul>
</div>

<div>
    <h3>Object from Parent Component:</h3>
    <ul>
        <li *ngFor="let obj of parentsObj">
        First Name: {{ obj.firstName }}, Last Name: {{ obj.lastName }}, Age: {{ obj.age }}
        </li>
    </ul>
</div>


<div>
  <h3>Message from Child Component and it will change from parent Component:</h3>
  <p>{{ message }}</p>
</div>

<br>

<button (click)="getMobilesFromService()">Get Mobiles from Service</button>

<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let mobile of receiveServiceMobilesData">
    <td>{{ mobile.name }}</td>
    <td>{{ mobile.color }}</td>
    <td>{{ mobile.price }}</td>
  </tr>
</table>


<button (click)="navigateToSettings()">Go to Settings</button>