<input type=number [(ngModel)]="amount" placeholder="Enter amount"><br><br>
<button (click)="load()">Load Users</button>

<p>home-page works!</p>
<!-- String interpolation example: -->
<h2>{{ title }}</h2>

<h3>{{ testfn() }}</h3>

<!-- Property binding example: -->
<button [disabled]=invalidfn()>Click Me</button>

<!--Event binding example:-->
name : <input type="text" (keyup)="writeName($event)">

<p>Your name is: {{ name }}</p>

<!-- Two-way data binding example: -->
city: <input type="text" [(ngModel)]="city">

<p>Your city is: {{ city }}</p>

<button (click)="alertCity()">Click Alert</button>

<!-- Pipe example: -->
<p>todays data {{ today|date:format}}</p>
<button (click)="toggelFormat()">Toggle Format</button>
<p>My full name is: {{ myFullName|slice:start:end}}</p>

<!-- Chaining Pipe example -->

<p>My full name in uppercase is: {{ myFullName | slice:start:end | uppercase}}</p>

<!-- Custom Pipe example -->

<p>Custom Pipe example: {{ myFullName | test }}</p>
<!-- Passing data to child component example -->
<!--in [] it is from child component and on the right hand side of assignment operator its from parent.-->
<!-- <app-about-page [myLastFullName]="myFullName" [parentArrays]="parentArrays" [parentsObj]="parentsObj"
  (myOutputEvent)="childDataFromAboutPage=$event"></app-about-page> -->

<p>Data received from about page component: {{ childDataFromAboutPage }}</p>


<!--Viewchild Decorator-->

<input type="text" #inputBox placeholder="Enter your name">

<button (click)="focusInput()">Focus Input</button>
<br>
<button (click)="changeMessage()">change message</button>

<br><br><br>

<button (click)="getMobilesFromService()">Get Mobiles from Service</button>

<ul>
  <li *ngFor="let mobile of receiveServiceMobilesData">
    {{ mobile.name }} - {{ mobile.color }} - {{ mobile.price }}
  </li>
</ul>


